:root {
    
    /*def = default*/
    --ikea-font: "Noto IKEA","Noto Sans Japanese","Roboto","Open Sans",system-ui,sans-serif !important;
    --button-color: rgb(0, 123, 39);
    --nav-bg: black;
    --border-radius-def: 8px;
    --box-container-max-width: 90rem;
    --box-gap: 1.25rem;
    --box-height-high: 52vw;
    --box-height-def: 47vw;
    --box-height-low: 40vw;
    --carousel-height: 30vw;
    --container-spacing-desktop: 1.5rem;


    /*colori ikea ufficiali*/
    --color-logo: #fae6e6;
    --color-background: #fffefb;
    --color-border: #f0ede8;
    --color-footer: #806e6e;
    --color-light: #ffffff;
    --color-ikea-blue: #0058a3;
    --color-ikea-yellow: #ffdb00;
    --color-ikea-yellow-hover: #ffe53a;
    --color-ikea-yellow-light: #fff094;
    --color-text-dark: rgba(0, 0, 0, 0.74);
    --color-text-darker: #111111;
    --color-text-black: #000;
    --color-text-light: #fffefb;
    --color-grey: #dfdfdf;
    --color-grey-dark: #999999;
    
}