@import "root.css";

img,
svg {
    display: block;
}

body {
    margin: 0;
    font-family: var(--ikea-font);
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 8vw;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-link {
    display: flex;
    text-decoration: none;
    color: var(--font-color);
    padding: 8px 12px;
}
.nav-link:hover {
    font-weight: bold;
}
.logo img {
    height: 32px;
    margin-right: 12px;
}
.button {
    display: inline-block;
    box-sizing: border-box;
    height: 48px;
    padding: 8px 16px;
    border-radius: var(--radius-def);
    border: 1px solid var(--button-color);
    background-color: var(--nav-bg);
    color: var(--button-color);
    font-family: inherit;
    font-size: inherit;
}
.button:hover {
    color: white;
    background-color: var(--button-color);
}

/* inizio sezioni box */

.box-container {
    display: flex;
    flex-wrap: wrap; /*da togliere quando mettiamo emdia query*/
    gap: 16px;
    height: fit-content;
    margin: 0 8vw 16px;
}
.h-box {
    display: flex;
    align-items: flex-end;
    flex-basis: 350px; /*da togliere quando aggiungiamo le media query*/
    flex-grow: 1;
    height: 45vw;
    border-radius: 8px;
    background-position: center center;
    background-size: cover;
    text-decoration: none;
    overflow: hidden;
}

/*inizio CSS box basse (tipo le ultime 2) */
.h-box-low {
    display: flex;
    align-items: flex-end;
    flex-basis: 350px; /*da togliere quando aggiungiamo le media query*/
    flex-grow: 1;
    height: 35vw;
    border-radius: 8px;
    background-position: center center;
    background-size: cover;
    text-decoration: none;
    overflow: hidden;
}
/*fine CSS box basse (tipo le ultime 2) */

/* inizio CSS per le box con video bg */
.v-box {
    display: flex;
    flex-basis: 350px;
    flex-grow: 1;
    height: 40vw;
    position: relative;
    border-radius: 12px;
    text-decoration: none;
    overflow: hidden;
}
.v-box video {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.v-box .bg-gradient {
    position: relative;
}
/* fine CSS per le box con video bg */

.bg-gradient {
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, transparent 60%, rgba(0, 0, 0, 0.6));
}
.h-box-content {
    display: flex;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    border-radius: 16px;
    padding: 24px 10% 24px 24px;
    color: white; /* aggiungere variabili font-color-light e font-color-dark */
    transition: 350ms transform ease-out;
    transform: translateX(-64px);
}

.h-box-title {
    height: fit-content;
    align-items: flex-start;
}

.h-box-icon {
    margin-top: 16px;
    width: auto;
    height: auto;
    margin-right: 16px;
    opacity: 0;
    transition: 350ms linear;
}
.h-box-icon img {
    height: 48px;
}
.h-box-content h2 {
    font-size: 2.2rem;
    margin: 0;
    line-height: 120%;
}
.h-box-content p {
    margin: 0;
    text-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
}

/* Inizio CSS freccetta a comparsa */
.h-box:hover .h-box-content {
    transform: translateX(0);
}
.h-box:hover .h-box-icon {
    opacity: 100%;
}
.h-box-low:hover .h-box-content {
    transform: translateX(0);
}
.h-box-low:hover .h-box-icon {
    opacity: 100%;
}
.v-box:hover .h-box-content {
    transform: translateX(0);
}
.v-box:hover .h-box-icon {
    opacity: 100%;
}
/* Fine CSS freccetta a comparsa */

#h-box-1 {
    background-image: url("../assets/images/backgrounds/PE_897524_680e4335ea.avif");
}

.website-link {
    font-family: monospace;
    color: black;
    text-decoration: none;
    text-transform: none;
    font-weight: bolder;
    font-size: 36px;
}

/*francesco box2 go shopping section */
.region-picker {
    display: flex;
    flex-direction: column;
    background: var(--color-ikea-yellow-hover);
    padding: 0;
    width: 25%;
    letter-spacing: -0.96px;
    line-height: 43px;
    border-radius: var(--radius-def);
    /*    font-family: monospace;*/
    justify-content: center;
}

/* commendato perchè vscode lo rilevava come problema
.show-more {
}
*/

.go-shopping {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#region-selector {
    min-height: 15%;
    max-height: 15%;
    background-color: var(--color-ikea-yellow);
    display: flex;
    justify-content: center;
}

.region-picker-above {
    display: flex;
    flex: 2 75%;
    flex-direction: column;
    justify-content: center;
    /*text-align: center;*/
    padding: 5%;
}
