@import "root.css";

img,
svg {
    display: block;
}

body {
    margin: 0;
    font-family: var(--ikea-font);
    background-color: var(--color-background);
}

/*--- inizio nav e propri contenuti*/
nav {
    display: flex;
    justify-content: center;
}
.nav-container {
    display: flex;
    box-sizing: border-box;
    padding: 0 24px;
    width: 100%;
    max-width: var(--box-container-max-width);
}
.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 0;
}
.nav-link {
    display: flex;
    text-decoration: none;
    color: var(--font-color);
    padding: 8px 12px;
    color: var(--color-text-darker);
}
.nav-link:hover {
    font-weight: bold;
}
.logo svg {
    margin-right: 12px;
}
/*---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----*/

main {
    display: flex;
    justify-content: center;
}

.sections-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: var(--box-container-max-width);
    padding: 0 24px;
}
/* ---- inizio sezioni e box ----- ----*/
.box-container {
    display: flex;
    gap: var(--box-gap);
    margin-bottom: var(--box-gap);
    width: inherit;
}

/*---- inizio box con immagini di bg ---- ---- ----*/
.h-box,
.h-box-low {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: var(--box-height-def);
    max-height: calc(var(--box-container-max-width) / 2 * 1.07);
    border-radius: var(--border-radius-def);
    background-position: center center;
    background-size: cover;
    text-decoration: none;
    overflow: hidden;
}
.h-box-low {
    height: var(--box-height-low);
    max-height: calc(var(--box-container-max-width) / 2);
}
/*---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----*/

/* ---- inizio box con video bg ---- ---- ---- */
/*contenitore*/
.v-box {
    display: flex;
    width: 100%;
    height: var(--box-height-def);
    max-height: calc(var(--box-container-max-width) / 2 * 1.07);
    position: relative;
    border-radius: var(--border-radius-def);
    text-decoration: none;
    overflow: hidden;
}
/*video*/
.v-box video {
    position: absolute;
    left: 50%;
    top: 50%;
    height: var(--box-height-def);
    max-height: calc(var(--box-container-max-width) / 2 * 1.1);
    transform: translate(-50%, -50%);
}
/*gradiente semi-trasparente*/
.v-box .bg-gradient {
    position: relative;
}
/*---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----*/

/*---- inizio contenuti box (uguale per le box con video e immagini) ---- ---- ----*/
/*gradiente semi trasparente (sopra lo sfondo, ma dietro il testo)*/
.bg-gradient {
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 0.6));
}
/*sopratitolo, titolo e freccetta*/
.h-box-content {
    display: flex;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    padding: 24px 10% 24px 24px;
    color: white; /* aggiungere variabili font-color-light e font-color-dark */
    transition: 500ms transform ease;
    transform: translateX(-64px);
}
/*titolo e sopratitolo*/
.h-box-title {
    height: fit-content;
    align-items: flex-start;
}
.h-box-content h2 {
    font-size: 2.2rem;
    margin: 0;
    line-height: 120%;
}
.h-box-content p {
    margin: 0;
    text-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
}

/*contenitore freccetta*/
.h-box-icon {
    margin-top: 1rem;
    width: auto;
    height: auto;
    margin-right: 16px;
    opacity: 0;
    transition: 400ms ease;
    transform: translateX(-5rem);
}
/*freccetta*/
.h-box-icon img {
    height: 48px;
}
/*---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----*/

/* ---- Inizio CSS freccetta a comparsa ---- ---- ---- */
.h-box:hover .h-box-content {
    transform: translateX(0);
}
.h-box:hover .h-box-icon {
    transform: translate(0);
    opacity: 100%;
}
.h-box-low:hover .h-box-content {
    transform: translateX(0);
}
.h-box-low:hover .h-box-icon {
    transform: translate(0);
    opacity: 100%;
}
.v-box:hover .h-box-content {
    transform: translateX(0);
}
.v-box:hover .h-box-icon {
    transform: translate(0);
    opacity: 100%;
}
/*---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----*/

.website-link {
    font-family: monospace;
    color: black;
    text-decoration: none;
    text-transform: none;
    font-weight: bolder;
    font-size: 36px;
}

/* ------- inizio CSS carosello ----------*/

.carousel-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--carousel-height);
    max-height: calc(var(--box-container-max-width) / 4);
    padding: 3.75rem;
    border-radius: var(--border-radius-def);
    overflow: hidden;
}
/* contenitore di testo e galleria */
.carousel-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
/* testo */
.carousel-text {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    max-width: 30%;
    margin-right: 1.75em;
}
.carousel-text h2,
p {
    margin: 0;
    padding: 0;
}
.carousel-text h2 {
    font-size: 2.25rem;
    line-height: 120%;
}
.carousel-text p {
    line-height: 180%;
}

/* galleria */
.carousel-gallery {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: 1.75rem;
}
.carousel-gallery-cards {
    display: flex;
    align-items: center;
    width: calc(var(--box-container-max-width) * 0.175 * 3 + 32px);
    height: fit-content;
    gap: 16px;
    overflow-y: hidden;
}

.carousel-gallery-cards::-webkit-scrollbar {
    height: 16px;
    border-top: 3px solid white;
}
.carousel-gallery-cards::-webkit-scrollbar-thumb:horizontal {
    border-top: 3px solid black;
}

.carousel-gallery .button-right, .button-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 3.75rem;
    background-color: black;
    position: absolute;
    right: calc(3.75rem / 2 * -1);
    border: none;
}
.carousel-gallery .button-left {
    left: calc(3.75rem / 2 * -1);
}

.button-right img, .button-left img{
    height: 24px;
    width: 24px;
}

.carousel-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 340px;
    margin-bottom: 16px;
    width: calc(var(--box-container-max-width) * 0.175);
    border-radius: var(--border-radius-def);
    background-color: var(--color-background);
    overflow: hidden;
}
.carousel-card img {
    height: 20%;
    flex-grow: 1;
    object-fit: cover;
}
.carousel-card video {
    height: 20%;
    flex-grow: 1;
    object-fit: cover;
}
.carousel-card section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 16px;
}
.carousel-card section h3,
p {
    margin: 0;
    padding: 0;
}
.carousel-card section h3 {
    font-size: 1rem;
}
.carousel-card section p {
    font-size: 0.85rem;
}

/* ------- fine CSS carosello ----------*/

/*francesco box2 go shopping section */
.region-picker {
    display: flex;
    flex-direction: column;
    background: var(--color-ikea-yellow-hover);
    padding: 0;
    width: 25%;
    letter-spacing: -0.96px;
    line-height: 43px;
    border-radius: var(--border-radius-def);
    /*    font-family: monospace;*/
    justify-content: center;
}

/* commendato perchè vscode lo rilevava come erroe
.show-more {
}
*/

.go-shopping {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#region-selector {
    min-height: 15%;
    max-height: 15%;
    background-color: var(--color-ikea-yellow);
    display: flex;
    justify-content: center;
}

.region-picker-above {
    display: flex;
    flex: 2 75%;
    flex-direction: column;
    justify-content: center;
    /*text-align: center;*/
    padding: 5%;
}
