@import "root.css";
@import url(https://db.onlinewebfonts.com/c/b269e509d0e2d442240b8df6035c9999?family=Noto+IKEA+Latin+Bold);

img,
svg {
    display: block;
}

body {
    margin: 0;
    font-family: var(--ikea-font);
    background-color: var(--color-background);
}
h2 {
    font-family: "Noto IKEA Latin Bold";
}
/*--- inizio nav e propri contenuti*/
nav {
    display: flex;
    justify-content: center;
}
.nav-container {
    display: flex;
    box-sizing: border-box;
    padding: 0 24px;
    width: 100%;
    max-width: var(--box-container-max-width);
}
.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 0;
}
.nav-link {
    display: flex;
    text-decoration: none;
    padding: 8px 12px;
    color: var(--color-text-darker);
}
.nav-link:hover {
    font-weight: bold;
}
.logo svg {
    margin-right: 12px;
}
/*---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----*/

main {
    display: flex;
    justify-content: center;
}

.sections-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: var(--box-container-max-width);
    padding: 0 24px;
}
/* ---- inizio sezioni e box ----- ----*/
.box-container {
    display: flex;
    gap: var(--box-gap);
    margin-bottom: var(--box-gap);
    width: inherit;
}

/* ---- struttura delle box singole ---- ---- ---- */
/* impostazione contenitore genitore */
.box {
    display: flex;
    align-items: flex-end;
    width: 100%;
    position: relative;
    border-radius: var(--border-radius-def);
    text-decoration: none;
    overflow: hidden;
}
.box-short {
    height: var(--box-height-low);
    max-height: calc(var(--box-container-max-width) / 2.2);
}
.box-tall {
    height: var(--box-height-def);
    max-height: calc(var(--box-container-max-width) / 2 * 1.07);
}
/* impostazioni di video e immagini di sfondo */
.box .bg-main {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
/*gradiente semi trasparente (sopra lo sfondo, ma dietro il testo)*/
.box .bg-overlay{
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, transparent 60%, rgba(0, 0, 0, 0.7));
}
.box .bg-overlay-none {
    background-image: none;
}
/*soprattitolo, titolo e freccetta*/
.box .bottom-elements {
    display: flex;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    padding: 24px 8% 24px 24px;
    color: white; 
    transition: 500ms transform ease;
    transform: translateX(-64px);
}
.box .elements-dark {
    color: var(--color-text-darker);
    text-shadow: none;
}
.box .elements-light {
    color: var(--color-text-light);
}
.box .elements-light p {
    text-shadow: 0 0 0.625rem rgba(0, 0, 0, .7);
}
.box .bottom-elements h2 {
    font-size: 2.2rem;
    margin: 0;
    line-height: 120%;
}
.box .bottom-elements p {
    margin: 0;
}
.sections-container .box-container:last-child .box .bottom-elements h2 {
    font-size: 3rem;
}

/*freccetta*/
.box .bottom-elements .ico {
    height: 48px;
    width: 48px;
    margin-top: 1rem;
    margin-right: 16px;
    opacity: 1;
    transition: 400ms ease;
    transform: translateX(-5rem);
}
/*---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----*/

/* ---- Inizio CSS freccetta a comparsa ---- ---- ---- */
.box:hover .bottom-elements{
    transform: translateX(0);
}
.box:hover .bottom-elements .ico {
    transform: translate(0);
    opacity: 100%;
}
.box:hover .bottom-elements {
    transform: translateX(0);
}
.box:hover .bottom-elements .ico{
    transform: translate(0);
    opacity: 100%;
}
.box:hover .bottom-elements {
    transform: translateX(0);
}
.box:hover .bottom-elements .ico {
    transform: translate(0);
    opacity: 100%;
}
/*---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----*/

/* ------- inizio CSS carosello ----------*/
.carousel-container, .carousel2-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    max-height: var(--carousel-height);
    max-height: calc(var(--box-container-max-width) / 4);
    padding: 3.75rem;
    border-radius: var(--border-radius-def);
    overflow: hidden;
}
/* contenitore di testo e galleria */
.carousel-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
/* testo sulla destra*/
.carousel-text {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    min-width: 350px;
    max-width: 30%;
    margin-right: 1.75em;
}
.carousel-text h2,
p {
    margin: 0;
    padding: 0;
}
.carousel-text h2 {
    font-size: 2.25rem;
    line-height: 120%;
}
.carousel-text p {
    line-height: 180%;
}

/* galleria */
.carousel-gallery {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: 1.75rem;
}
.carousel-gallery-cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns:calc(var(--box-container-max-width) * 0.175) ;
    width: calc(var(--box-container-max-width) * 0.175 * 3 + 32px);
    height: fit-content;
    gap: 16px;
    overflow-y: hidden;
    overflow-x: scroll;
}
    /*
    può tornare utile per lo scroll con i bottoni :
        .carousel-gallery-cards { scroll-snap-type: inline mandatory;}
        .carousel-gallery-cards > * { scroll-snap-align: start;} 
    */


.carousel-gallery-cards::-webkit-scrollbar {
    height: 16px;
    border-top: 3px solid white;
}
.carousel-gallery-cards::-webkit-scrollbar-thumb:horizontal {
    border-top: 3px solid black;
}

.carousel-gallery .button-right, .button-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 3.75rem;
    background-color: black;
    position: absolute;
    right: calc(3.75rem / 2 * -1);
    border: none;
}
.carousel-gallery .button-left {
    left: calc(3.75rem / 2 * -1);
}

.button-right img, .button-left img{
    height: 24px;
    width: 24px;
}

.carousel-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 340px;
    margin-bottom: 16px;
    border-radius: var(--border-radius-def);
    background-color: var(--color-background);
    overflow: hidden;
}
.carousel-card img {
    height: 20%;
    flex-grow: 1;
    object-fit: cover;
}
.carousel-card video {
    height: 20%;
    flex-grow: 1;
    object-fit: cover;
}
.carousel-card section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 16px 8px 16px 16px;
}
.carousel-card section h3,
p {
    margin: 0;
    padding: 0;
}
.carousel-card section h3 {
    font-size: 1rem;
}
.carousel-card section p {
    font-size: 0.85rem;
}
.carousel2-container .carousel-content .carousel-gallery .carousel-gallery-cards .carousel-card section{ 
    height: 20%;
}
.carousel2-container .carousel-content .carousel-text h2 {
    font-size: 3.175rem;
    line-height: 105%;
} 



/* ------- fine CSS carosello ----------*/

/*francesco box2 go shopping section */
.region-picker {
    display: flex;
    flex-direction: column;
    background: var(--color-ikea-yellow-hover);
    padding: 0;
    width: 25%;
    letter-spacing: -0.96px;
    line-height: 43px;
    border-radius: var(--border-radius-def);
    /*    font-family: monospace;*/
    justify-content: center;
}

.go-shopping {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#region-selector {
    min-height: 15%;
    max-height: 15%;
    background-color: var(--color-ikea-yellow);
    display: flex;
    justify-content: center;
}

.region-picker-above {
    display: flex;
    flex: 2 75%;
    flex-direction: column;
    justify-content: center;
    /*text-align: center;*/
    padding: 5%;
}
/*section 7 css setti*/

.container-report {
    display: flex;
    align-items: stretch;
    background-color: var(--color-grey-dark);
    color: var(--color-background);
}


.image-report {
    object-position: 50% 50%;
}

.img-svelte {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: var(--border-radius-def);

}

.report-text h2 {
    font-size: 3rem;
    line-height: 108%;
    font-weight: 700;
    margin: 1rem 0;
    word-wrap: break-word;
    max-width: 8ch;
    letter-spacing: -0.115rem;
}

.report-text p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}